head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1')

  title= appName+' - '+title
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="hearthstone arena drafting drafts")
  meta(name="description", content="ArenaHelper - for clean and readable Hearthstone Arena drafts")

  link(href='/img/icons/favicon.ico', rel='shortcut icon', type='image/x-icon')
  
  link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.css')
  link(rel='stylesheet', href='/js/lib/angular-motion.min.css')
  
  link(rel='stylesheet', href='/css/common.css')

  link(rel='stylesheet', href='/css/views/articles.css')
  link(rel='stylesheet', href='/css/views/drafts.css')    

  //if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
