<section data-ng-controller="DraftsController" data-ng-init="findOne()">
  <div class='share-div'>
    <button type="button" class="btn btn-default" data-animation="animation-fadeAndScale" 
            data-template="/views/drafts/partials/shareModal.html" bs-modal="modal">
    <span class="glyphicon glyphicon-share"></span> Share
  </button>
  </div>
  
  <div data-ng-repeat="turn in turnsList">
    Turn {{$index+1}}
    <ol>
      <li ng-class="{selected: turn.selectedCard.name === turn.card1.name}">{{turn.card1.name}}</li>
      <li ng-class="{selected: turn.selectedCard.name === turn.card2.name}">{{turn.card2.name}}</li>
      <li ng-class="{selected: turn.selectedCard.name === turn.card3.name}">{{turn.card3.name}}</li>
    </ol>
  </div>
</section>
