<section data-ng-controller="CardsController" data-ng-init="findOne()">
	<form class="form-horizontal" data-ng-submit="update()">
		<div class="control-group">
			<label class="control-label" for="name">Name</label>

			<div class="controls">
				<input type="text" data-ng-model="card.name" id="name" placeholder="Name" required>
				</input>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="rarity">Rarity</label>

			<div class="controls">
				<input type="text" data-ng-model="card.rarity" id="rarity" placeholder="Rarity" required>
				</input>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="attack">Attack</label>

			<div class="controls">
				<input type="text" data-ng-model="card.attack" id="attack" placeholder="Attack" required>
				</input>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
			</div>
		</div>
	</form>
</section>
